{% extends "global/Page.html" %}
{% block title %}
    Instructions - Scenario 1
{% endblock %}

{% block content %}
    <p> You will be asked to do a similar task as in Scenario 0.</p>
    <p> <strong> Except</strong> that </p>
    <p> - The box is now yours and your payment depends on which box you have. </p>
    <p> - You will be able to <strong> swap </strong> the box if you want at the end of the <strong>5th</strong> round. </p>

    <p> More Detailed Explanations are on the printed instructions. 


    <img src="{{ static '4r5g_box.png' }}" alt="Green Box Image">
    <img src="{{ static '5r4g_box.png' }}" alt="Red Box Image">
    <p> The left is the Green Box and the right is the Red Box. </p>

    <p>Click "Next" to proceed to the experiment.</p>
    <form method="POST" >

        <button type="submit" class="btn btn-primary">Next</button>
    </form>

{% endblock %}

