{% extends "global/Page.html" %}

{% block title %}
    Welcome! 
{% endblock %}



{% block extra_css %}
    <style>
        .inline-images {
            display: inline-block;
            vertical-align: top;
        }
        .inline-images img {
            margin: 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1></h1>

<p> Welcome to the experiment! </p>
<p> Please wait for the experimenter's instructions </p> 


        <p>Click "Next" to proceed to the experiment.</p>
    </div>

    <div>
        <form method="POST">
            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>

{% endblock %}

