{% extends "global/Page.html" %}

{% block title %}
    Introduction
{% endblock %}



{% block extra_css %}
    <style>
        .inline-images {
            display: inline-block;
            vertical-align: top;
        }
        .inline-images img {
            margin: 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1></h1>

    <p> At the end of this experiment, you will be paid for the decisions you make in either Experiment 1, or Experiment 2. </p>
    <p> In order to maximize your bonus, you should carefully consider all decisions in each experiment because they may determine your earnings today.</p>
    <p> We will be using Experimental Currency Units(ECU). This will be converted in to United States Dollars(USD) at the end of the experiment.
    <p> The conversion rate will be 20 ECU = 1 USD.
    <p> After you finish both Experiment 1 and Experiment 2, you will be asked to fill out a short survey.
    <p> All decisions you make today, and the information you provided will remain anonymous.


        <p>Click "Next" to proceed to the experiment.</p>
    </div>

    <div>
        <form method="POST">
            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>

{% endblock %}

