{% extends "global/Page.html" %}

{% block title %}
    What is your guess? - Scenario 0 - PRACTICE ROUND
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <h1>Round 1</h1>

    <p> In this round, you have drawn a Red ball. </p>

    
        <p> Before we have drawn this ball, your guess was {{ pre_belief}}% </p>


   

        <img src="{{ static 'Red_ball.png' }}"/>

    <p> Please indicate the estimated likelihood, as a percentage between 0 and 100, that you believe your box is the Green Box. </p>
    <p> You can move the slider below to report your guess. </p>
    <p> If you move your slider to the left, your reported likelihood will be smaller, while moving the slider to the right will increase your reported likelihood.</p>

<form method="POST">
    <table>
        <tr>
            <p id="feedback_one"><br></p>
            <div style="display: flex; align-items: center; width: 500px;">
                <span>0% </span>
                <input type="range" name="belief" value="{{pre_belief}}" step="1" style="width: 100%;" min="0" max="100" id="id_slider_one" class="form-control">
                <span> 100% </span>
            </div>
            <br>
            <output id="slider_output_one"></output>
        </tr>
    </table>

</form>


 <script>
    $(document).ready(function () {
        $('input[name=belief]').on('input', function() {
            document.getElementById("feedback_one").innerHTML = `Your estimate that the box is <span style="color: #32CD32;"> Green </span>Box:` + $(this).val() + '%!';
            $('#check_slider_one').val(1);
        });
    });
 </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
<button type="submit">Submit</button>

{% endblock %}
