{% extends "global/Page.html" %}

{% block title %}
    Box Endowment - Scenario 2
{% endblock %}

{% block content %}
<style>

    .box-container {
        display: inline-block;
        vertical-align: middle;
    }

    .green-box-container, .red-box-container {
        position: relative;
        margin-bottom: 10px;
    }
</style>

<p> The computer will select a box from the two boxes below.
<p> The computer will roll a fairly 4 sided die.
<p> If the number is smaller than or equal to {{X}}, the Green Box will be selected, and it is greater than {{X}}, the Red Box will be selected </p>
<p> It means the computer will select the Green Box with {{prob}}%. </p>

{% if X == 1 %}
<div class="box-container">
    <div class="green-box-container">
        <img src="{{ static 'G1R3.png' }}" alt="Green Box Image" width="40%">

    </div>
</div>
{% endif%}
{% if X ==2 %}
<div class="box-container">
    <div class="green-box-container">
        <img src="{{ static 'G2R2.png' }}" alt="Green Box Image" width="40%">

    </div>
</div>
{% endif%}
{% if X ==3 %}
<div class="box-container">
    <div class="green-box-container">
        <img src="{{ static 'G3R1.png' }}" alt="Green Box Image" width="40%">

    </div>
</div>
{% endif%}

    <p>Click "Next" to proceed to the ball drawing rounds.</p>
   <form method="POST" >

        <button type="submit" class="btn btn-primary">Next</button>
    </form>

{% endblock %}
