{% extends "global/Page.html" %}
{% block title %}
    Instructions - Scenario 2
{% endblock %}

{% block content %}
    <p> You will be asked to do a similar task as in Scenario 1.</p>
    <p> <strong> Except</strong> that </p>
    <p> - If you want, you will be able to <strong> swap </strong> the box at the end of the <strong>5th</strong> round, at the cost of <strong> {{cost}} ECU. </strong> </p>
    
<p> More detailed explanations are on the printed instructions. </p>
        
    <p>Click "Next" to proceed to the experiment.</p>
    <form method="POST" >

        <button type="submit" class="btn btn-primary">Next</button>
    </form>

{% endblock %}

