{% extends "global/Page.html" %}
{% block title %}
    Instructions - Scenario 3
{% endblock %}

{% block content %}
    <p> You will be asked to do the same task in Scenario 0.</p>
    <p> It means that you are not going to be able to swap the Box as in Scenario 1, and Scenario 2. 
     
    <p> Scenario 3 is different from Scenario 0 because your payment may depend on the Box you have.  </p>


    <img src="{{ static '4r5g_box.png' }}" alt="Green Box Image" width="40%">
    <img src="{{ static '5r4g_box.png' }}" alt="Red Box Image" width="40%">
    <p> The left is the Green Box and the right is the Red Box. </p>

    <p>Click "Next" to proceed to the experiment.</p>
    <form method="POST" >

        <button type="submit" class="btn btn-primary">Next</button>
    </form>

{% endblock %}

